:root {
  /* primary colors */
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);

  /* neutral */
  --dark-greyish-red: hsl(0, 6%, 24%);

  /* linear gradients */
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 1rem;
  height: 100%;
}

img {
  max-width: 100%;
}

a,
button {
  cursor: pointer;
}

body {
  font-family: "Josefin Sans", serif;
  height: 100%;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

h1 {
  color: var(--dark-greyish-red);
}

h1 span {
  color: var(--desaturated-red);
  font-weight: 300;
}

p {
  color: var(--desaturated-red);
  font-weight: 600;
}

.header-mobile {
  display: none;
}

.header-mobile .header-section-img {
  padding: 1.6em;
}

.header-mobile picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-mobile .header-content {
  padding: 3em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-input > div {
  margin: 0 auto;
  margin-top: 2em;

  padding: 0.2em 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  opacity: 0;

  position: absolute;
  right: 25%;
}

.active-error {
  opacity: 1;
}

.email-input div > button {
  padding: 0.8em 1.6rem;
  margin-left: -2rem;
  outline: none;
  border: none;
  border-radius: 2rem;

  background-color: var(--desaturated-red);
}

.email-input input {
  padding: 0.8em;
  border-radius: 2rem;
  border: 1px solid var(--dark-greyish-red);
}

@media (max-width: 799px) {
  h1 {
    font-size: 3rem;
    padding: 0.2em 0;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  p {
    font-weight: 600;
    font-size: 0.9rem;
    margin: 1em;
    letter-spacing: 2px;
    line-height: 1rem;
    width: 90%;
  }

  h1,
  p {
    text-align: center;
  }
  .main-desktop *,
  .img-section-desktop,
  .header-section-img-desktop,
  .section-form-desktop {
    display: none;
  }

  header {
    display: none;
  }

  .header-mobile {
    display: block;
  }
}

.main-desktop {
  min-height: 100%;
  width: min(100%, 1440px);
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.main-desktop header {
  flex-shrink: 15;

  padding-left: 15%;
  padding-right: 10%;

  display: flex;
  flex-direction: column;
  justify-content: start;
}

.img-section-desktop {
  flex: 2 0 auto;
}

.header-section-img-desktop {
  padding: 8vmin 0;
}

.header-content--title {
  font-size: 4.5rem;
  text-transform: uppercase;
}

.header-content p {
  margin: 0.5em 0;
}

@media (min-width: 800px) {
  .error-icon {
    display: none;

    position: absolute;
    top: 25%;
    right: 22%;
  }

  .email-input input {
    width: 100%;
    padding: 1em;
  }

  .email-input div > button {
    padding: 1.125em 2rem;
    margin-left: -2rem;
    border-radius: 2rem;

    background-color: var(--desaturated-red);
  }
}

/* Only show invalid ring while not focused */
input:not(:focus):not(:placeholder-shown):invalid {
  border: 2px solid var(--soft-red);
}
input:not(:focus):not(:placeholder-shown):invalid ~ .error {
  opacity: 1;
}

/* Only show valid ring while not focused and if a value is entered */
/* :empty won't work here as that targets elements that have no childeren. Therefore we abuse :placeholder-shown */
input:not(:focus):not(:placeholder-shown):valid {
  border-color: var(--color-valid);
}
